* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

p {

    font-family: 'Open Sans', sans-serif;
    font-size: 400;

}
.Mainh1 {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .Mainh1 {font-size: small;}
}